## HI CLASS

In [1]:
print("hi class")

hi class

In [2]:
print("hi class")

hi class

In [3]:
print("hi class")

hi class

In [4]:
print("hi class")

hi class

In [5]:
print("hi class")

hi class

In [6]:
first_variable =  56

In [7]:
first_variable

56

In [8]:
first_variable = "John"

In [9]:
first_variable

'John'

In [10]:
FIRST_VARIABLE = "John Smith"

In [11]:
print(first_variable)
print(FIRST_VARIABLE)

John
John Smith

In [12]:
1variable = "John"

SyntaxError: invalid decimal literal (2852721869.py, line 1)

In [13]:
first variable = "John"

SyntaxError: invalid syntax (2618671856.py, line 1)

In [14]:
variable1 = "Sarah"
variable1

'Sarah'

In [2]:
# creating multiple variables
fruit1 = "Orange"
fruit2 = "Banana"

In [6]:
# creating multiple variables

fruit1, fruit2, fruit3 = "Orange", "Banana", "Cherry"

In [9]:
fruit = Orange

NameError: name 'Orange' is not defined

In [14]:
num1 = 5

In [15]:
type(num1)

int

In [16]:
num1 * 2

10

In [20]:
name = "Bob"
age = 56

f'Hi! My name is {name} and my age is {age}'

'Hi! My name is Bob and my age is 56'